{% extends 'base.html.twig' %}

{% block title %} Global Statistic {% endblock %}
{% block body %}
{% include 'sections/mainSidebar.html.twig' %}

    <!-- Wrapper -->
    <div id="wrapper">

        {% include 'sections/globalStatistic.html.twig' %}

    </div>
{% endblock %}
