{% extends 'base.html.twig' %}

{% block title %} Last Results {% endblock %}
{% block body %}
{% include 'sections/lastResultsSidebar.html.twig' %}
    <!-- Wrapper -->
    <div id="wrapper">
        {% include 'sections/statistic.html.twig' %}
    </div>
{% endblock %}