<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="{{ path('index') }}">
                            Home
                    </a>
                </li>
            </ul>
            <br>
            <br>
            <ol>
                {% for result in lastResults %}
                    <li><a href="{{ path('last_results', {id: result.getId() }) }}" class="{% if currentResult.getId() == result.getId() %} active {% endif %}">{{ result.getCreatedAt() }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</section>